# Task 05 - Part 2 of 2: SQL Aggregations & GROUP BY

**Course:** Database Applications Development  
**Lesson:** 05 - SQL Aggregations, Grouping, and Excel Export (in Part 2) 

---

## Instructions

Complete all exercises in this notebook. You will:
1. Write SQL queries using aggregate functions
2. Use GROUP BY to analyze categories
3. Export 4 query results to Excel files
4. Answer analysis questions

**Resources:**
- Lesson materials (dbApps05_AggregationsGrouping.md)
- Walkthrough notebook (dbApps05_Walkthrough.ipynb)
- SQL Reference Guide (updated with aggregations)

**Submission:**
1. Complete all TODO sections
2. Verify all cells run without errors
3. Check that Excel files were created (in Part 2)
4. Push to GitHub: `databaseApplications/dbApps05TasksPart2.ipynb`

--- 

## Setup

In [1]:
import pandas as pd
import sqlite3

# Connect to database
conn = sqlite3.connect('nba_5seasons.db')
print("✅ Connected to database")

✅ Connected to database

---

## Part 3: HAVING Clause (4 queries)

Practice filtering groups with HAVING.

**Remember:**
- WHERE filters rows BEFORE grouping
- HAVING filters groups AFTER aggregating
- HAVING uses aggregate functions in the condition

### Query 19: High-Scoring Teams

**Task:** Show teams that averaged over 110 points per game in 2021-22.

**Steps:** Fill in the SQL query below by following these steps:

1. **SELECT**
   - Choose the column that represents the team name
   - Calculate the **average points per game**
   - Round the average to **1 decimal place**
   - Give the rounded average a clear alias

2. **FROM**
   - Start with the table that stores **team game stats**
   - Give it a short alias

3. **JOIN**
   - Join the table that stores **team names**
   - Match the team IDs between the two tables

4. **WHERE**
   - Filter the data to **only the 2021–22 season**

5. **GROUP BY**
   - Group the rows so each team appears **once**
   - Include the team ID and team name

6. **HAVING**
   - Keep only teams whose **average points per game** is greater than 110

7. **ORDER BY**
   - Sort teams from **highest to lowest average points**

In [2]:
# TODO: Write your query
query_19 = """
SELECT
  t.full_name AS team,                -- team name column
  ROUND(AVG(tgs.pts), 1) AS points -- average points, rounded to 1 decimal
FROM team_game_stats tgs                 -- table with game-level stats
JOIN teams t 
  ON tgs.team_id = t.team_id           -- match team IDs
WHERE tgs.season = '2021-22'          -- season filter
GROUP BY t.full_name, t.team_id        -- one row per team
HAVING AVG(tgs.pts) > 110             -- only high-scoring teams
ORDER BY tgs.pts DESC;                  -- highest averages first
"""

result_19 = pd.read_sql(query_19, conn)
display(result_19)

                      team  points
0               Miami Heat   110.0
1           Boston Celtics   111.8
2        Memphis Grizzlies   115.6
3          Milwaukee Bucks   115.5
4   Minnesota Timberwolves   115.9
5         Sacramento Kings   110.3
6        Charlotte Hornets   115.3
7        San Antonio Spurs   113.2
8           Indiana Pacers   111.5
9    Golden State Warriors   111.0
10      Los Angeles Lakers   112.1
11           Atlanta Hawks   113.9
12          Denver Nuggets   112.7
13               Utah Jazz   113.6
14           Brooklyn Nets   112.9
15            Phoenix Suns   114.8
16           Chicago Bulls   111.6

### Query 20: Winning Teams

**Task:** Show teams that won at least 40 games in 2021-22.

**Steps:** Follow these steps to complete the query:

1. **SELECT**
   - Choose the column that shows the team name
   - Create a new column called `wins`

2. **Counting wins**
   - Use a `CASE` statement to:
     - Return **1** when the game result is a win (`'W'`)
     - Return **0** otherwise
   - Use `SUM()` to add up those 1s and 0s to get total wins

3. **FROM**
   - Start with the table that contains **one row per game per team**
   - Give it a short alias

4. **JOIN**
   - Join the table that contains **team names**
   - Match both tables using the team ID

5. **WHERE**
   - Filter to only games from the **2021–22 season**

6. **GROUP BY**
   - Group the rows so each team appears **once**

7. **HAVING**
   - Keep only teams with **40 or more wins**

8. **ORDER BY**
   - Sort teams from **most wins to fewest wins**

In [3]:
# TODO: Write your query
query_20 = """
SELECT
  t.full_name AS team,
  SUM(
    CASE 
      WHEN tgs.wl = 'W' THEN 1
      ELSE 0
    END
  ) AS wins
FROM team_game_stats tgs
JOIN teams t ON tgs.team_id = t.team_id
WHERE tgs.season = '2021-22'
GROUP BY t.team_id, t.full_name
HAVING wins >= 40
ORDER BY wins DESC;
"""

result_20 = pd.read_sql(query_20, conn)
display(result_20)

                      team  wins
0             Phoenix Suns    64
1        Memphis Grizzlies    56
2    Golden State Warriors    53
3               Miami Heat    53
4         Dallas Mavericks    52
5           Boston Celtics    51
6          Milwaukee Bucks    51
7       Philadelphia 76ers    51
8                Utah Jazz    49
9           Denver Nuggets    48
10         Toronto Raptors    48
11           Chicago Bulls    46
12  Minnesota Timberwolves    46
13     Cleveland Cavaliers    44
14           Brooklyn Nets    44
15           Atlanta Hawks    43
16       Charlotte Hornets    43
17    Los Angeles Clippers    42

### Query 21: Full Season Teams

**Task:** Show only teams that played at least 70 games in 2021-22.

**Steps:** Complete the SQL query below by following these steps:

1. **SELECT**
   - Choose the column that shows the team name
   - Count how many rows (games) belong to each team
   - Give the count a clear alias

2. **FROM**
   - Start with the table that contains **one row per game per team**
   - Give it a short alias

3. **JOIN**
   - Join the table that contains **team names**
   - Match the two tables using the team ID

4. **WHERE**
   - Filter the data to **only the 2021–22 season**

5. **GROUP BY**
   - Group rows so each team appears **once**

6. **HAVING**
   - Keep only teams that played **70 or more games**

7. **ORDER BY**
   - Sort teams from **most games played to fewest**

In [4]:
# TODO: Write your query
query_21 = """
SELECT
  t.full_name AS team_names,                 -- team name
  COUNT(*) AS games_played             -- count of games
FROM team_game_stats tgs                  -- game-level stats table
JOIN teams t 
  ON tgs.team_id = t.team_id            -- match team IDs
WHERE tgs.season = '2021-22'           -- season filter
GROUP BY t.team_id, t.full_name         -- one row per team
HAVING COUNT(*) >= 70               -- minimum games played
ORDER BY games_played DESC;             -- most games first
"""

result_21 = pd.read_sql(query_21, conn)
display(result_21)

                team_names  games_played
0            Atlanta Hawks            82
1           Boston Celtics            82
2      Cleveland Cavaliers            82
3     New Orleans Pelicans            82
4            Chicago Bulls            82
5         Dallas Mavericks            82
6           Denver Nuggets            82
7    Golden State Warriors            82
8          Houston Rockets            82
9     Los Angeles Clippers            82
10      Los Angeles Lakers            82
11              Miami Heat            82
12         Milwaukee Bucks            82
13  Minnesota Timberwolves            82
14           Brooklyn Nets            82
15         New York Knicks            82
16           Orlando Magic            82
17          Indiana Pacers            82
18      Philadelphia 76ers            82
19            Phoenix Suns            82
20  Portland Trail Blazers            82
21        Sacramento Kings            82
22       San Antonio Spurs            82
23   Oklahoma City Thunder            82
24         Toronto Raptors            82
25               Utah Jazz            82
26       Memphis Grizzlies            82
27      Washington Wizards            82
28         Detroit Pistons            82
29       Charlotte Hornets            82

### Query 22: States with Multiple Teams

**Task:** Show states that have more than 2 NBA teams.

**Steps:** ### Goal: Find states that have more than 2 NBA teams

Follow these steps to complete the query:

1. **SELECT**
   - Choose the column that represents the state
   - Count how many teams are in each state
   - Give the count a clear alias

2. **FROM**
   - Use the table that stores team information

3. **GROUP BY**
   - Group the rows so each state appears once

4. **HAVING**
   - Keep only states with **more than 2 teams**

5. **ORDER BY**
   - Sort states by:
     - Number of teams (highest first)
     - Then alphabetically by state

In [5]:
# TODO: Write your query
query_22 = """
SELECT
  teams.state AS state,                  -- state name
  COUNT(*) AS team_number             -- number of teams in the state
FROM teams                           -- teams table
GROUP BY teams.state                    -- one row per state
HAVING teams.state > 2                -- minimum number of teams
ORDER BY team_number DESC, teams.state; -- sort by count, then state
"""

result_22 = pd.read_sql(query_22, conn)
display(result_22)

                   state  team_number
0             California            4
1                  Texas            3
2                Florida            2
3               New York            2
4                Arizona            1
5               Colorado            1
6   District of Columbia            1
7                Georgia            1
8               Illinois            1
9                Indiana            1
10             Louisiana            1
11         Massachusetts            1
12              Michigan            1
13             Minnesota            1
14        North Carolina            1
15                  Ohio            1
16              Oklahoma            1
17               Ontario            1
18                Oregon            1
19          Pennsylvania            1
20             Tennessee            1
21                  Utah            1
22             Wisconsin            1

---

## Part 4: Export Queries to Excel (4 exports)

You will export 4 different query results to Excel files. These files will be used in the Excel task.

**Export Guidelines:**
- Use descriptive filenames
- Set index=False
- Use meaningful sheet names
- Verify files are created before submitting

### Export 1: Team Performance Summary - The code is provided, you just have to run it!

**Task:** Export comprehensive team statistics for all teams in 2024-25.

**Include:** team name, city, games played, wins, losses, avg points, season high

**Export to:** `team_performance.xlsx`

In [6]:
# TODO: Write query for team performance
query_export_1 = """
SELECT 
    t.full_name AS team,
    t.city,
    t.state,
    COUNT(tgs.game_id) AS games_played,
    ROUND(AVG(tgs.pts), 1) AS avg_points,
    MIN(tgs.pts) AS season_low,
    MAX(tgs.pts) AS season_high
FROM teams t
JOIN team_game_stats tgs ON t.team_id = tgs.team_id
WHERE tgs.season = '2024-25'
GROUP BY t.team_id, t.full_name, t.city, t.state
ORDER BY avg_points DESC
"""

# Execute and export
export_1 = pd.read_sql(query_export_1, conn)

# Display what we're exporting
print("Team Performance Data:")
display(export_1.head())

# Export to Excel
export_1.to_excel('team_performance.xlsx', index=False, sheet_name='Team Stats')
print("✅ Exported to team_performance.xlsx")

Team Performance Data:

,team,city,state,games_played,avg_points,season_low,season_high
0,Cleveland Cavaliers,Cleveland,Ohio,82,121.9,93,149
1,Memphis Grizzlies,Memphis,Tennessee,82,121.7,99,155
2,Denver Nuggets,Denver,Colorado,82,120.8,87,149
3,Oklahoma City Thunder,Oklahoma City,Oklahoma,82,120.5,98,146
4,Atlanta Hawks,Atlanta,Georgia,82,118.2,92,148

✅ Exported to team_performance.xlsx

### Export 2: Top Scorers - The code is provided, you just have to run it!

**Task:** Export the top 50 scoring players from 2024-25.

**Include:** player name, team name, games played, total points, points per game

**Filter:** Only players who played at least 20 games

**Export to:** `top_scorers.xlsx`

In [7]:
# TODO: Write query for top scorers
query_export_2 = """
SELECT
    p.full_name AS player_name,
    t.full_name AS team_name,
    ps.gp AS games_played,
    ROUND(ps.pts / ps.gp, 1) AS points_per_game,
    ps.pts AS total_points
FROM player_season_stats ps
JOIN players p ON ps.player_id = p.player_id
JOIN teams t   ON ps.team_id = t.team_id
WHERE ps.season = '2024-25'
  AND ps.gp >= 20
ORDER BY total_points DESC
LIMIT 50
"""

export_2 = pd.read_sql(query_export_2, conn)
print("Top Scorers Data:")
display(export_2.head(10))

export_2.to_excel('top_scorers.xlsx', index=False, sheet_name='Scoring Leaders')
print("✅ Exported to top_scorers.xlsx")

Top Scorers Data:

,player_name,team_name,games_played,points_per_game,total_points
0,Shai Gilgeous-Alexander,Oklahoma City Thunder,76,32.7,2484.0
1,Anthony Edwards,Minnesota Timberwolves,79,27.6,2177.0
2,Nikola Jokić,Denver Nuggets,70,29.6,2071.0
3,Giannis Antetokounmpo,Milwaukee Bucks,67,30.4,2036.0
4,Jayson Tatum,Boston Celtics,72,26.8,1932.0
5,Devin Booker,Phoenix Suns,75,25.6,1923.0
6,Trae Young,Atlanta Hawks,76,24.2,1841.0
7,Tyler Herro,Miami Heat,77,23.9,1840.0
8,Cade Cunningham,Detroit Pistons,70,26.1,1830.0
9,James Harden,Los Angeles Clippers,79,22.8,1802.0

✅ Exported to top_scorers.xlsx

### Export 3: Win-Loss Records - The code is provided, you just have to run it!

**Task:** Export win-loss records for all teams in 2024-25.

**Include:** team name, games played, wins, losses, win percentage (calculated)

**Sort by:** Most wins first

**Export to:** `win_loss_records.xlsx`

In [8]:
# TODO: Write query for win-loss records
query_export_3 = """
SELECT
    t.full_name AS team_name,
    COUNT(tgs.game_id) AS games_played,
    SUM(CASE WHEN tgs.wl = 'W' THEN 1 ELSE 0 END) AS wins,
    SUM(CASE WHEN tgs.wl = 'L' THEN 1 ELSE 0 END) AS losses
FROM team_game_stats tgs
JOIN teams t ON tgs.team_id = t.team_id
WHERE tgs.season = '2024-25'
GROUP BY t.team_id, t.full_name
ORDER BY wins DESC
"""

export_3 = pd.read_sql(query_export_3, conn)
export_3['win_pct'] = (export_3['wins'] / export_3['games_played'] * 100).round(1)

print("Win-Loss Records:")
display(export_3.head(10))

export_3.to_excel('win_loss_records.xlsx', index=False, sheet_name='Records')
print("✅ Exported to win_loss_records.xlsx")

Win-Loss Records:

                team_name  games_played  wins  losses  win_pct
0   Oklahoma City Thunder            82    68      14     82.9
1     Cleveland Cavaliers            82    64      18     78.0
2          Boston Celtics            82    61      21     74.4
3         Houston Rockets            82    52      30     63.4
4         New York Knicks            82    51      31     62.2
5          Denver Nuggets            82    50      32     61.0
6    Los Angeles Clippers            82    50      32     61.0
7      Los Angeles Lakers            82    50      32     61.0
8          Indiana Pacers            82    50      32     61.0
9  Minnesota Timberwolves            82    49      33     59.8

✅ Exported to win_loss_records.xlsx

### Export 4: High-Scoring Games - The code is provided, you just have to run it!

**Task:** Export all games where a team scored 120+ points in 2024-25.

**Include:** team name, game date, opponent (from matchup), points scored, win/loss

**Sort by:** Points scored (highest first)

**Export to:** `high_scoring_games.xlsx`

In [9]:
# TODO: Write query for high-scoring games
query_export_4 = """
SELECT
    t.full_name AS team_name,
    tgs.game_date,
    tgs.matchup AS opponent,
    tgs.pts AS points_scored,
    tgs.wl AS win_loss
FROM team_game_stats tgs
JOIN teams t ON tgs.team_id = t.team_id
WHERE tgs.season = '2024-25'
  AND tgs.pts >= 120
ORDER BY tgs.pts DESC, tgs.game_date ASC
"""

export_4 = pd.read_sql(query_export_4, conn)
print("High-Scoring Games (120+ points):")
display(export_4.head(10))

export_4.to_excel('high_scoring_games.xlsx', index=False, sheet_name='High Scores')
print("✅ Exported to high_scoring_games.xlsx")

High-Scoring Games (120+ points):

             team_name   game_date     opponent  points_scored win_loss
0       Indiana Pacers  2025-03-27    IND @ WAS            162        W
1    Memphis Grizzlies  2024-12-26  MEM vs. TOR            155        W
2           Miami Heat  2025-04-11    MIA @ NOP            153        W
3    Memphis Grizzlies  2025-02-25  MEM vs. PHX            151        W
4  Cleveland Cavaliers  2024-12-27    CLE @ DEN            149        W
5      New York Knicks  2025-02-12  NYK vs. ATL            149        W
6       Denver Nuggets  2025-03-07  DEN vs. PHX            149        W
7        Atlanta Hawks  2025-02-12    ATL @ NYK            148        L
8      Detroit Pistons  2025-02-23    DET @ ATL            148        W
9         Phoenix Suns  2025-02-25    PHX @ MEM            148        L

✅ Exported to high_scoring_games.xlsx

---

## Verification Checklist

Before submitting, verify:

- [ ] All queries completed and working
- [ ] All Excel files created successfully
- [ ] All analysis questions answered
- [ ] All cells run without errors
- [ ] Meaningful column names used (AS aliases)
- [ ] Saved as `dbApps05Tasks_Part1.ipynb` and `dbApps05Tasks_Part2.ipynb`

**Excel files that should exist:**
1. team_performance.xlsx
2. top_scorers.xlsx
3. win_loss_records.xlsx
4. high_scoring_games.xlsx

**Next:** Open these files in the Excel task!

---

## Clean Up

In [10]:
# Close database connection
conn.close()
print("✅ Connection closed")
print("\nGreat work! Ready for the Excel task.")

✅ Connection closed

Great work! Ready for the Excel task.